.about-us {
  min-height: calc(100vh - 0px);
  height: calc(100vh);
  max-height: calc(100vh);
}

.line {
  left: 9.5vw;
  position: absolute;
  min-height: 90px;
  top: 350px;
}

.about-text {
  font-size: 42px;
}

.about_image-card {
  margin: 0 0 3em 0;
}

.about-paragraph {
  font-size: 12px;
  white-space: pre-line;
}
