.contact-footer {
  min-height: calc(100vh - 0px);
  height: calc(100vh);
  max-height: calc(100vh);
}

.vertical-line {
  border-left: 2px solid white;
  height: 150px;
  position: relative;
  margin: 15px 0 30px 0;
}

.contact-paragraph {
  font-size: 52px;
  line-height: 1em;
}



